* {
    font-family: sans-serif;
    color: #777;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    background-image: url(/multimedia/svg/fondodiscreto.svg);
}
.container {
    background-color: rgb(255, 255, 255);
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    margin-top: 4rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    font-size: 2.5rem;
}
.main-footer {
    background-color: crimson;
    color: white;
    padding: .25rem 0;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67rem .67rem;
    cursor: pointer;
}
.btn-primary {
    color: white;
    background-color:crimson;
    border: none;
    border-radius: .3rem;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #08d112;
}
.bi {
    color: white;
}
.shop-item {
    margin: 0;
}
.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
    font-size: 1.5rem;
}

.shopitems {
    display: flex;
    flex-wrap: wrap;
    margin: 150px;
    gap: 40px;
    justify-content: space-around;
}

.carr-header {
    font-weight: bold;
    font-size: 1.25rem;
    color: #333;
}

.carr-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5rem;
    padding-bottom: 10px;
    margin-top: 10px;
}

.carr-row {
    display: flex;
}

.carr-item {
    width: 45%;
}

.carr-price {
    width: 20%;
    font-size: 1.2rem;
    color: #333;
}

.carr-quantity {
    width: 35%;
}

.carr-item-title {
    color: #333;
    margin-left: .5rem;
    font-size: 1.2rem;
}

.carr-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #fa0000;
}

.carr-cantidad-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    margin-right: 25px;
}
.carr-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.carr-total-txt {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.precio-total {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn-comprar {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75rem;
}
.btn-comprar:hover {
    transform: scale(1.2);
    transition: 1s;
}